<% if flash[:success] %>
<div class="alert alert-success">
    <%= flash[:success] %>
</div>
<% end %>

<% if @user == current_user %>
<div>
    <%= link_to("Delete My account", user_path(@user), method: "delete" ,data: {confirm: "Don't leave!!"})%>
</div>
<% end %>

<h1><%= @user.name %></h1>

<% @user.posts.each do |post| %>
    <li></li>
<% end %>
