<%= link_to("Home", root_path) %>
<% if flash[:success] %>
<div class="alert alert-success">
    <%= flash[:success] %>
</div>
<% end %>


<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
