<h1>Hoopr List</h1>

<%# split the list of posts into groups of 3 %>
<% @posts.each_slice(3).each do |row| %>
    <%# each group gets a <div class="row"> %>
    <div class="row">
        <%# within each row, we print up to 3 columns %>
        <% row.each do |p| %>
            <div class="col-md-4">
                <%# inside each column there's a card for the post %>
                <div class="card">
                    <%= image_tag(p.picture_url, class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title"><%= p.title %></h5>
                        <%= link_to("Read More", post_path(p), class: "btn btn-primary") %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>